.RadButton_VirtualiaSkin.rbButton,.RadButton_VirtualiaSkin.rbButton.rbDisabled,.RadButton_VirtualiaSkin .rbSplitPart
{
    border-color:#c4c4c4;
    color:#5f5f5f;
    background-color:#e3e3e3;
    background-image:linear-gradient(#fff,#e3e3e3)
}
.RadButton_VirtualiaSkin.rbButton.rbHovered,.RadButton_VirtualiaSkin.rbButton.rbToggled.rbHovered,.RadButton_VirtualiaSkin.rbButton .rbHovered{
    border-color:#137a75;
    color:#fff;
    background-color:#137a75;
    background-image:linear-gradient(#17948e,#137a75)

}
.RadButton_VirtualiaSkin.rbButton:focus{
    box-shadow:inset 0 0 5px rgba(14,91,87,0.5)

}
.RadButton_VirtualiaSkin.rbButton.rbSelected,.RadButton_VirtualiaSkin.rbButton.rbToggled,.RadButton_VirtualiaSkin.rbSelected .rbHovered{
    border-color:#0e5b57;
    color:#fff;
    background-color:#137a75;
    background-image:none

}
.RadButton_VirtualiaSkin.rbButton:hover,.RadButton_VirtualiaSkin.rbButton.rbHovered .rbSplitPart{
    border-color:#137a75

}
.RadButton_VirtualiaSkin.rbButton.rbSelected,.RadButton_VirtualiaSkin.rbButton.rbSelected:active .rbSplitPart{
    border-color:#0e5b57

}
.RadButton_VirtualiaSkin.rbCheckBox .rbText,.RadButton_VirtualiaSkin.rbRadioButton .rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbText{
    color:#5f5f5f

}
.RadButton_VirtualiaSkin .rbToggleCheckboxChecked,.RadButton_VirtualiaSkin .rbToggleCheckboxFilled,.RadButton_VirtualiaSkin .rbToggleRadioChecked{
    color:#137a75

}
.RadButton_VirtualiaSkin.rbHovered .rbToggleCheckboxChecked,.RadButton_VirtualiaSkin.rbHovered .rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbHovered .rbToggleRadioChecked{
    color:#093836

}
.RadButton_VirtualiaSkin:focus .rbToggleCheckbox:before,.RadButton_VirtualiaSkin:focus .rbToggleRadio:before
{box-shadow:0 0 1px 1px rgba(95,95,95,0.5)

}
.RadButton_VirtualiaSkin:focus .rbToggleCheckboxChecked:before,.RadButton_VirtualiaSkin:focus .rbToggleCheckboxFilled:before,.RadButton_VirtualiaSkin:focus .rbToggleRadioChecked:before{
    box-shadow:0 0 1px 1px rgba(19,122,117,0.5)

}
.RadButton_VirtualiaSkin.rbPrimaryButton{
    border-color:#137a75;
    color:#fff;
    background-color:#137a75;
    background-image:linear-gradient(#1aa69f,#137a75)

}
.RadButton_VirtualiaSkin.rbPrimaryButton.rbHovered,.RadButton_VirtualiaSkin.rbPrimaryButton.rbToggled.rbHovered,.RadButton_VirtualiaSkin.rbPrimaryButton.rbFocused{
    border-color:#137a75;
    color:#fff;
    background-color:#137a75;
    background-image:linear-gradient(#17948e,#137a75);
    box-shadow:none

}
.RadButton_VirtualiaSkin.rbPrimaryButton.rbSelected,.RadButton_VirtualiaSkin.rbPrimaryButton.rbToggled{
    border-color:#0e5b57;
    color:#fff;
    background-color:#137a75;
    background-image:none

}
.RadButton_VirtualiaSkin.rbPrimaryButton.rbDisabled{
    border-color:#137a75;
    color:#fff;
    background-color:#137a75;
    background-image:linear-gradient(#1aa69f,#137a75)

}
