.RadButton_VirtualiaSkin{
    font-family:"Calibri",sans-serif;-webkit-tap-highlight-color:rgba(255,255,255,0)
}
.RadButton_VirtualiaSkin.rbButton{
    border-color:#E0E0E0;color:#424242;background-color:#f5f5f5;transition:all .2s ease-in-out;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.2)

}
.RadButton_VirtualiaSkin.rbButton.rbHovered,.RadButton_VirtualiaSkin.rbButton.rbHovered:hover,.RadButton_VirtualiaSkin.rbButton.rbToggled.rbHovered,.RadButton_VirtualiaSkin.rbButton .rbHovered{
    border-color:#eee;color:#424242;background-color:#eee

}
.RadButton_VirtualiaSkin.rbButton:focus{
    box-shadow:0 10px 20px rgba(0,0,0,0.16),0 6px 6px rgba(0,0,0,0.2)

}
.RadButton_VirtualiaSkin.rbButton.rbSelected,.RadButton_VirtualiaSkin.rbButton.rbToggled,.RadButton_VirtualiaSkin.rbSelected .rbHovered{
    border-color:#E0E0E0;color:#424242;background-color:#E0E0E0;box-shadow:0 10px 20px rgba(0,0,0,0.16),0 6px 6px rgba(0,0,0,0.2)

}
.RadButton_VirtualiaSkin.rbButton:hover,.RadButton_VirtualiaSkin.rbButton.rbHovered .rbSplitPart,.RadButton_VirtualiaSkin.rbButton.rbHovered.rbSelected .rbSplitPart{
    border-color:#E0E0E0;color:#424242;background-color:#f5f5f5;transition:all .2s ease-in-out}
.RadButton_VirtualiaSkin.rbButton:hover .rbHovered{
    border-color:#eee;color:#424242;background-color:#eee;box-shadow:none

}
.RadButton_VirtualiaSkin.rbButton.rbHovered .rbSplitPartRight,.RadButton_VirtualiaSkin.rbButton:hover .rbSplitPartRight{
    border-color:transparent transparent transparent #E0E0E0

}
.RadButton_VirtualiaSkin.rbButton:hover .rbSplitPartLeft,.RadButton_VirtualiaSkin.rbButton.rbHovered .rbSplitPartLeft{
    border-color:transparent #E0E0E0 transparent transparent

}
.RadButton_VirtualiaSkin.rbButton.rbHovered.rbSelected{
    border-color:#E0E0E0;color:#424242;background-color:#E0E0E0

}
.RadButton_VirtualiaSkin.rbButton.rbSelected .rbSplitPartRight,.RadButton_VirtualiaSkin.rbButton.rbSelected .rbSplitPartRight.rbHovered{
    border-color:transparent transparent transparent #E0E0E0

}
.RadButton_VirtualiaSkin.rbButton.rbSelected .rbSplitPartLeft,.RadButton_VirtualiaSkin.rbButton.rbSelected .rbSplitPartLeft.rbHovered{
    border-color:transparent #E0E0E0 transparent transparent

}
.RadButton_VirtualiaSkin.rbButton.rbSelected:active .rbSplitPartRight{
    border-color:transparent transparent transparent #E0E0E0

}
.RadButton_VirtualiaSkin.rbButton.rbSelected:active .rbSplitPartLeft{
    border-color:transparent #E0E0E0 transparent transparent

}
.RadButton_VirtualiaSkin .rbSplitPart .rbIcon,.RadButton_VirtualiaSkin.rbButton.rbHovered .rbSplitPart .rbIcon,.RadButton_VirtualiaSkin.rbButton.rbHovered.rbSelected .rbSplitPart .rbIcon{
    color:#424242

}
.RadButton_VirtualiaSkin.rbButton:hover .rbHovered .rbIcon{
    color:#424242

}
.RadButton_VirtualiaSkin.rbButton.rbSelected .rbHovered .rbSplitPart .rbIcon,.RadButton_VirtualiaSkin.rbButton.rbSelected .rbSplitPart .rbIcon{
    color:#424242

}
.RadButton_VirtualiaSkin.rbCheckBox .rbText,.RadButton_VirtualiaSkin.rbRadioButton .rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbText{
    color:#424242

}
.RadButton_VirtualiaSkin .rbIcon,.RadButton_VirtualiaSkin .rbCheckBox .rbText:before,.RadButton_VirtualiaSkin .rbText.rbToggleCheckboxChecked .rbRippleContainer,.RadButton_VirtualiaSkin .rbText.rbToggleRadioChecked .rbRippleContainer{
    color:#757575}
.RadButton_VirtualiaSkin.rbHovered .rbIcon,.RadButton_VirtualiaSkin.rbCheckBox.rbHovered .rbText:before{
    color:#2D8780}
.RadButton_VirtualiaSkin .rbToggleCheckboxChecked,.RadButton_VirtualiaSkin .rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbCheckBox .rbToggleCheckboxChecked.rbIcon,.RadButton_VirtualiaSkin.rbRadioButton .rbToggleRadioChecked.rbIcon,.RadButton_VirtualiaSkin.rbToggled .rbToggleCheckBoxChecked.rbIcon,.RadButton_VirtualiaSkin.rbToggled .rbToggleRadioChecked.rbIcon,.RadButton_VirtualiaSkin .rbText.rbToggleCheckboxChecked:before,.RadButton_VirtualiaSkin .rbText.rbToggleRadioChecked:before,.RadButton_VirtualiaSkin .rbText.rbToggleCheckbox .rbRippleContainer,.RadButton_VirtualiaSkin .rbText.rbToggleRadio .rbRippleContainer{
    color:#2D8780}
.RadButton_VirtualiaSkin span.rbToggleCheckbox.rbText,.RadButton_VirtualiaSkin span.rbToggleCheckboxChecked.rbText,.RadButton_VirtualiaSkin span.rbToggleRadio.rbText,.RadButton_VirtualiaSkin span.rbToggleRadioChecked.rbText
{color:#757575}
.RadButton_VirtualiaSkin.RadRadioButton span.rbText.rbToggleRadioChecked,.RadButton_VirtualiaSkin.RadRadioButton span.rbText.rbToggleRadio,.RadButton_VirtualiaSkin.RadCheckBox span.rbText.rbToggleCheckbox,.RadButton_VirtualiaSkin.RadCheckBox span.rbText.rbToggleCheckboxChecked{
padding-left:2.2857142857em}
.RadButton_VirtualiaSkin.rbHovered .rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbToggled.rbHovered .rbIcon,.RadButton_VirtualiaSkin.rbHovered .rbToggleCheckboxChecked.rbIcon,.RadButton_VirtualiaSkin.rbHovered .rbToggleRadioChecked.rbIcon,.RadButton_VirtualiaSkin.rbHovered .rbText.rbToggleCheckboxChecked:before,.RadButton_VirtualiaSkin.rbHovered .rbText.rbToggleRadioChecked:before{
color:#757575}
                                .RadButton_VirtualiaSkin:focus .rbToggleCheckbox:before,.RadButton_VirtualiaSkin:focus .rbToggleRadio:before{box-shadow:0 0 1px 1px rgba(66,66,66,0.5)}.RadButton_VirtualiaSkin:focus .rbToggleCheckboxChecked:before,.RadButton_VirtualiaSkin:focus .rbToggleCheckboxFilled:before,.RadButton_VirtualiaSkin:focus .rbToggleRadioChecked:before{
                                                                                                                                                                                                             box-shadow:0 0 1px 1px rgba(76,175,80,0.5)}.RadButton_VirtualiaSkin.rbCheckBox,.RadButton_VirtualiaSkin.rbRadioButton{overflow:visible}.RadButton_VirtualiaSkin.rbPrimaryButton .rbIcon{color:#fff}.RadButton_VirtualiaSkin.rbPrimaryButton.rbHovered .rbIcon{color:#fff}.RadButton_VirtualiaSkin.rbPrimaryButton.rbCheckBox .rbToggleCheckboxChecked.rbIcon,.RadButton_VirtualiaSkin.rbPrimaryButton.rbRadioButton .rbToggleRadioChecked.rbIcon,.RadButton_VirtualiaSkin.rbPrimaryButton.rbToggled .rbToggleCheckBoxChecked.rbIcon,.RadButton_VirtualiaSkin.rbPrimaryButton.rbToggled .rbToggleRadioChecked.rbIcon{color:#fff}.RadButton_VirtualiaSkin.rbPrimaryButton.rbToggled.rbHovered .rbIcon,.RadButton_VirtualiaSkin.rbPrimaryButton.rbHovered .rbToggleCheckboxChecked.rbIcon,.RadButton_VirtualiaSkin.rbPrimaryButton.rbHovered .rbToggleRadioChecked.rbIcon{color:#fff}.RadButton_VirtualiaSkin.rbButton.rbRtl .rbSplitPart,.RadButton_VirtualiaSkin.rbButton.rbRtl .rbSplitPart.rbHovered{border-right-color:#E0E0E0}.RadButton_VirtualiaSkin.rbButton.rbRtl .rbSplitPart.rbSelected{border-right-color:#E0E0E0}.RadButton_VirtualiaSkin.rbButton{padding:8px 13px;border-width:0;text-transform:uppercase;font-weight:500}.RadButton_VirtualiaSkin .rbIcon{width:1.3571428571em;height:1.3571428571em;margin-top:0}.RadButton_VirtualiaSkin.rbButton.rbIconOnly{padding:8px}.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckbox,.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckboxChecked,.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckbox,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxChecked,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadio,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadioChecked,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadio,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadioChecked{padding-top:.1428571429em;font-size:inherit;vertical-align:top}@media screen and (-webkit-min-device-pixel-ratio: 0){.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckbox,.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckboxChecked,.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckbox,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxChecked,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadio,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadioChecked,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadio,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadioChecked{padding-top:.0714285714em}.RadButton_VirtualiaSkin.rbCheckBox .rbIcon:before,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon:before,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon:before{vertical-align:middle}}.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckbox+.rbText,.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckboxChecked+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckbox+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxChecked+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxFilled+.rbText,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadio+.rbText,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadioChecked+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadio+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadioChecked+.rbText,.RadButton_VirtualiaSkin.RadCheckBox .rbText,.RadButton_VirtualiaSkin.RadRadioButton .rbText{color:#757575;vertical-align:middle;line-height:1.42857143em;font-size:.8571428571em;font-weight:500}@media screen and (-webkit-min-device-pixel-ratio: 0){.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckbox+.rbText,.RadButton_VirtualiaSkin.rbCheckBox .rbIcon.rbToggleCheckboxChecked+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckbox+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxChecked+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleCheckboxFilled+.rbText,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadio+.rbText,.RadButton_VirtualiaSkin.rbRadioButton .rbIcon.rbToggleRadioChecked+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadio+.rbText,.RadButton_VirtualiaSkin.rbToggleButton .rbIcon.rbToggleRadioChecked+.rbText{line-height:2em;vertical-align:middle}}.RadButton_VirtualiaSkin .rbToggleCheckbox:before,.RadButton_VirtualiaSkin .rbToggleCheckboxChecked:before,.RadButton_VirtualiaSkin .rbToggleCheckBoxChecked:before,.RadButton_VirtualiaSkin .rbToggleCheckboxFilled:before,.RadButton_VirtualiaSkin .rbToggleRadio:before,.RadButton_VirtualiaSkin .rbToggleRadioChecked:before,.RadButton_VirtualiaSkin.RadButton span.rbText.rbToggleCheckbox:before,.RadButton_VirtualiaSkin.RadButton span.rbText.rbToggleCheckboxChecked:before,.RadButton_VirtualiaSkin.RadButton span.rbText.rbToggleRadio:before,.RadButton_VirtualiaSkin.RadButton span.rbText.rbToggleRadioChecked:before{font-family:'Material Icons';font-size:18px;border-radius:45px;position:absolute;top:50%;left:50%;margin:-0.5em 0 0 -0.5em}.RadButton_VirtualiaSkin .rbToggleCheckbox:before{content:"\e835"}.RadButton_VirtualiaSkin .rbToggleCheckBoxChecked:before,.RadButton_VirtualiaSkin .rbToggleCheckboxChecked:before{content:"\e834"}.RadButton_VirtualiaSkin .rbToggleCheckboxFilled:before{content:"\e909"}.RadButton_VirtualiaSkin .rbToggleRadio:before{content:"\e836"}.RadButton_VirtualiaSkin .rbToggleRadioChecked:before{content:"\e837"}.RadButton_VirtualiaSkin .rbPrimaryIcon{margin:.0714285714em .3571428571em 0em 0em \9}.RadButton_VirtualiaSkin .rbSecondaryIcon{margin:.0714285714em 0em 0em .3571428571em \9}.RadButton_VirtualiaSkin _:-ms-fullscreen,:root .RadButton_VirtualiaSkin.rbButton .rbPrimaryIcon{margin:.0714285714em .3571428571em 0em 0em}.RadButton_VirtualiaSkin _:-ms-fullscreen,:root .RadButton_VirtualiaSkin.rbButton .rbSecondaryIcon{margin:.0714285714em 0em 0em .3571428571em}.RadButton_VirtualiaSkin .rbText{margin-top:0;line-height:1.4285714286em}@media screen and (-webkit-min-device-pixel-ratio: 0){.RadButton_VirtualiaSkin .rbText{line-height:normal}}.RadButton_VirtualiaSkin.rbButton.rbPrimaryButton{border-color:#3F51B5;color:#fff;background-color:#3F51B5}.RadButton_VirtualiaSkin.rbButton.rbPrimaryButton.rbHovered,.RadButton_VirtualiaSkin.rbButton.rbPrimaryButton.rbToggled.rbHovered,.RadButton_VirtualiaSkin.rbButton.rbPrimaryButton.rbFocused{border-color:#3949AB;color:#fff;background-color:#3949AB}.RadButton_VirtualiaSkin.rbButton.rbPrimaryButton.rbSelected,.RadButton_VirtualiaSkin.rbButton.rbPrimaryButton.rbToggled{border-color:#303F9F;color:#fff;background-color:#303F9F}.RadButton_VirtualiaSkin.rbButton.rbFlatButton{padding:8px;color:#424242;background-color:transparent;border:0 none;box-shadow:none;transition:none}.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbHovered{color:#424242;background-color:rgba(66,66,66,0.12);box-shadow:none}.RadButton_VirtualiaSkin.rbButton.rbFlatButton:focus,.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbFocused,.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbSelected{background-color:rgba(66,66,66,0.24);box-shadow:none}.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbPrimaryButton{color:#3F51B5}.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbPrimaryButton.rbHovered{color:#3F51B5;background-color:rgba(63,81,181,0.12)}.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbPrimaryButton:focus,.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbPrimaryButton.rbFocused,.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbPrimaryButton.rbSelected{background-color:rgba(63,81,181,0.24)}.RadButton_VirtualiaSkin.rbButton.rbFlatButton.rbPrimaryButton .rbIcon{color:#757575}.RadButton_VirtualiaSkin.RadButton.rbButton.rbDisabled,.RadButton_VirtualiaSkin.RadButton.rbButton.rbPrimaryButton.rbDisabled{background-color:#E0E0E0;color:#424242;border-color:#E0E0E0;box-shadow:none}.RadButton_VirtualiaSkin.rbRtl.RadButton.rbCheckBox .rbIcon.rbToggleCheckbox,.RadButton_VirtualiaSkin.rbRtl.RadButton.rbCheckBox .rbIcon.rbToggleCheckboxChecked,.RadButton_VirtualiaSkin.rbRtl.RadButton.rbCheckBox .rbIcon.rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbRtl.RadButton.rbToggleButton .rbIcon.rbToggleCheckbox,.RadButton_VirtualiaSkin.rbRtl.RadButton.rbToggleButton .rbIcon.rbToggleCheckboxChecked,.RadButton_VirtualiaSkin.rbRtl.RadButton.rbToggleButton .rbIcon.rbToggleCheckboxFilled,.RadButton_VirtualiaSkin.rbRtl.RadButton.rbRadioButton .rbIcon.rbToggleRadio,.RadButton_VirtualiaSkin.rbRtl.RadButton.rbRadioButton .rbIcon.rbToggleRadioChecked{margin:-.22em 0 0 .41667em}.RadButton_VirtualiaSkin.RadRadioButton.rbRtl span.rbText.rbToggleRadioChecked,.RadButton_VirtualiaSkin.RadRadioButton.rbRtl span.rbText.rbToggleRadio,.RadButton_VirtualiaSkin.RadCheckBox.rbRtl span.rbText.rbToggleCheckbox,.RadButton_VirtualiaSkin.RadCheckBox.rbRtl span.rbText.rbToggleCheckboxChecked{padding-right:2.2857142857em}.RadButton_VirtualiaSkin+.RadLabel{vertical-align:top;vertical-align:-moz-middle-with-baseline;vertical-align:-webkit-baseline-middle}span.RadButton_VirtualiaSkin.rbButton{background-color:transparent;border-color:transparent;box-shadow:none;padding:1px 19px 0 16px;text-transform:none}span.RadButton_VirtualiaSkin.rbButton:before{border-bottom:1px solid #E0E0E0;display:block;position:absolute;right:13px;bottom:1px;left:13px;content:""}span.RadButton_VirtualiaSkin.rbButton:hover:before,span.RadButton_VirtualiaSkin.rbButton:focus:before,span.RadButton_VirtualiaSkin.rbButton:active:before{display:none}span.RadButton_VirtualiaSkin.rbButton.rbDisabled:focus{box-shadow:none}span.RadButton_VirtualiaSkin.rbButton.rbDisabled:hover:before,span.RadButton_VirtualiaSkin.rbButton.rbDisabled:focus:before,span.RadButton_VirtualiaSkin.rbButton.rbDisabled:active:before{display:block}span.RadButton_VirtualiaSkin.rbButton .rbSplitPart{padding:8px;top:0;border-color:transparent}span.RadButton_VirtualiaSkin.rbButton .rbSplitPartRight{right:-.3571428571em}span.RadButton_VirtualiaSkin.rbButton .rbSplitPartLeft{left:.2142857143em}span.RadButton_VirtualiaSkin.rbButton .rbSplitIcon:before{margin:-.0714285714em 0em 0em -.1071428571em}span.RadButton_VirtualiaSkin.rbButton .rbText{line-height:2.5em}.rbRippleContainer.t-ripple-effect-icon{display:inline-block;position:absolute;width:1.6428571429em;height:1.6428571429em;top:-1px;left:-1px}
