.RadInput_VirtualiaSkin,.RadInputMgr_VirtualiaSkin{font-family:"Calibri","Noto",sans-serif}
.RadInput{border-color:transparent;border-bottom-color:#E0E0E0}
.t-ie .RadInput_VirtualiaSkin,.t-ie .RadInputMgr_VirtualiaSkin{height:36px;height:calc(1.4285714286em + 16px)}
.RadInput_VirtualiaSkin .riTextBox,.RadInputMgr_VirtualiaSkin{color:#424242;background:rgba(0,0,0,0);border-color:transparent;border-bottom-color:#E0E0E0;outline:none}
.RadInput_VirtualiaSkin{border-bottom-color:#E0E0E0;padding:0 13px 0px 10px;}.RadInput_VirtualiaSkin input.riTextBox{padding:8px 0 7px 10px;border-width:0 0 1px}
.RadInputMgr_VirtualiaSkin{padding:8px 0 7px;border-width:0 0 1px;margin:0 8px;color:#424242}
.RadInput_VirtualiaSkin .riLabel {
    font-size: .857em;
    color: #0F5852;
    font-weight: 500;
    margin-left: -13px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px
}
.RadInput_VirtualiaSkin a{padding-left:8px;padding-right:8px}
.RadInput_VirtualiaSkin .riSelect{right:5px}
.RadInput_VirtualiaSkin .riSelect a{color:#757575;border-color:transparent}
.RadInput_VirtualiaSkin .riSelect a:hover{color:#212121}
.RadInput_VirtualiaSkin .riSelect a:before{font-family:"Material Icons";font-size:18px}
.RadInput_VirtualiaSkin.RadInputDisabled a:hover,.RadInput_VirtualiaSkin.RadInputDisabled a:active{color:#757575}
.RadInput_VirtualiaSkin .riDown:before{content:"\e5c5";margin-top:-13px}
.RadInput_VirtualiaSkin .riUp:before{content:"\e5c7";margin-top:-6px}
.RadInput_VirtualiaSkin .riButton:before{content:"\e5d9"}
.RadInput_VirtualiaSkin .riEmpty,.RadInput_Empty_VirtualiaSkin{color:rgba(66,66,66,0.6);font-style:normal}
.RadInput_VirtualiaSkin .riHover,.RadInput_Hover_VirtualiaSkin{color:#424242;border-bottom-color:#BDBDBD}
.RadInput_VirtualiaSkin .riFocused, .RadInput_Focused_VirtualiaSkin {
    color: #424242;
    border-bottom-color: #0F5852;
    box-shadow: 0 -1px 0 0px #0F5852 inset
}
.RadInput_VirtualiaSkin .riRead,.RadInput_Read_VirtualiaSkin{color:rgba(66,66,66,0.8)}
.RadInput_VirtualiaSkin .riDisabled,.RadInput_Disabled_VirtualiaSkin{color:#babbbc;border-bottom-color:#eee}
.RadInput_VirtualiaSkin .riError,.RadInput_Error_VirtualiaSkin{border-color:#f34235;box-shadow:0 -1px 0 0px #f34235 inset}
.RadInput_VirtualiaSkin.RadInputError{border-color:#f34235;color:#f34235}
.RadInput_VirtualiaSkin.RadInputError{border-color:#f34235;color:#f34235}
.RadInput_VirtualiaSkin.RadInputError:after{display:none}
.RadInput.riContButton .riDown{margin-left:-37px;margin-left:calc(-17px - 1.42857em)}
