.RadTreeView_VirtualiaSkin {
    color: #333;
    font-family: "Calibri","Noto",sans-serif;
}
.RadTreeView_VirtualiaSkin .rtIn{
    margin:2px 0;
    padding:6px;
    border-radius:4px

}
.RadTreeView_VirtualiaSkin .rtImg+.rtIn{
    padding-left:25px

}
.RadTreeView_VirtualiaSkin .rtChkTristate:hover{
    color:#337ab7

}
    .RadTreeView_VirtualiaSkin .rtLoadingIcon {
        
        background-image: url('../Images/Armoire/FicheBleue.bmp')
    }
.RadTreeView_VirtualiaSkin .rtPlus,.RadTreeView_VirtualiaSkin .rtMinus{
    margin-top:1px

}
.RadTreeView_VirtualiaSkin .rtPlusHover,.RadTreeView_VirtualiaSkin .rtMinusHover{
    color:#337ab7

}
.RadTreeView_VirtualiaSkin .rtLines .rtOut:before{
    top:9px

}
.RadTreeView_VirtualiaSkin .rtLines .rtLast:before{
    padding-top:9px

}
.RadTreeView_VirtualiaSkin .rtHover .rtIn{
    border-color:#c1f1ff;
    color:#000;
    background-color:#daf7ff

}
.RadTreeView_VirtualiaSkin .rtSelected .rtIn{
    border-color:#285f8f;
    color:#fff;
    background-color:#337ab7

}
