﻿body {
    display: grid;
    font-family: Roboto;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}
label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: lightgrey;
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
}
.focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgrey;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

input[type="text"] {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: lightgrey;
    box-shadow: inset 0 -1px 0 lightgrey;
    color: lightgrey;
    transition: all .15s ease;
}
    input[type="text"]:hover {
        background: lightgrey;
        box-shadow: inset 0 -1px 0 lightgrey;
    }
    input[type="text"]:not(:placeholder-shown) + .label {
        color: lightgrey;
        transform: translate3d(0,-12px,0) scale(.75);
    }
    input[type="text"]:focus {
        background: lightgrey;
        outline: none;
        box-shadow: inset 0 -2px 0 #0077FF
    }
        input[type="text"]:focus + label {
            color: #0077FF;
            transform: translate3d(0,-12px,0) scale(.75);
        }
        input[type="text"]:focus + .focus-bg {
            transform: scaleX(1);
            transition: all .1s ease;
        }
