﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="Virtualia.Net.Fenetre_PER_GRADE" Codebehind="PER_GRADE.ascx.vb" %>

<%@ Register src="~/Controles/Saisies/VCoupleEtiDate.ascx" tagname="VCoupleEtiDate" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Saisies/VCoupleEtiDonnee.ascx" tagname="VCoupleEtiDonnee" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Saisies/VDuoEtiquetteCommande.ascx" tagname="VDuoEtiquetteCommande" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Standards/VListeGrid.ascx" tagname="VListeGrid" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Saisies/VCoupleEtiquetteExperte.ascx" tagname="VCoupleEtiquetteExperte" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Saisies/VReliquatAnciennete.ascx" tagname="VReliquatAnciennete" tagprefix="Virtualia" %>

<link href="../../main.css" rel="stylesheet" type="text/css" />
<link href="../../VirtualiaSkin/Textbox.VirtualiaSkin.css" rel="stylesheet" type="text/css" />
<link href="../../VirtualiaSkin/Label.VirtualiaSkin.css" rel="stylesheet" type="text/css" />

<style>
        .form__group {
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>

<asp:Panel runat="server" Id="CadreInfo" CssClass="card card-4 form__group">
   <telerik:RadLabel runat="server" Text="Grade" style="font-size: 35px;color: #525252;font-weight: 400;margin-bottom: 40px;text-align: center; margin-left:305px;"></telerik:RadLabel>
    <asp:Table ID="CadreControle" runat="server" Height="30px" Width="600px" CellPadding="0" CellSpacing="0" HorizontalAlign="Center">
   <asp:TableRow> 
     <asp:TableCell> 
       <Virtualia:VListeGrid ID="ListeGrille" runat="server" CadreWidth="600px"  SiColonneSelect="true" SiCaptionVisible="false" SiCaseAcocher="false"/>
     </asp:TableCell>
   </asp:TableRow>
        <asp:TableRow>
            <asp:TableCell>
                <asp:Table ID="CadreCommandes" runat="server" Height="22px" CellPadding="0" CellSpacing="0"
                            Width="244px" HorizontalAlign="Right" style="margin-top: 3px;margin-right: 3px">
                                    <asp:TableRow>
                                        <asp:TableCell VerticalAlign="Bottom">
                                            <asp:Table ID="CadreCmdNewSupp" runat="server" 
                                                Width="160px" CellPadding="0" CellSpacing="0" ForeColor="#D7FAF3">
                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                        <telerik:RadButton ID="CommandeNew" runat="server" Text="Ajouter" 
                                                                BackColor="white" BorderColor="#B0E0D7" ForeColor="#000" Skin="Material" EnableEmbeddedSkins="true"
                                                                Font-Bold="False" Font-Names="Calibri" Font-Size="Medium" Font-Italic="true" Tooltip="Nouvelle fiche"
                                                                BorderStyle="None" Style="margin-left: 6px; text-align: Right;">
                                                                <Icon PrimaryIconCssClass="rbAdd" PrimaryIconTop="11px"  />
                                                        </telerik:RadButton>
                                                    </asp:TableCell>
                                                    <asp:TableCell>
                                                        <telerik:RadButton ID="CommandeSupp" runat="server" Text="Supprimer" 
                                                                BackColor="white" BorderColor="#B0E0D7" ForeColor="#000" Skin="Material" EnableEmbeddedSkins="true"
                                                                Font-Bold="False" Font-Names="Calibri" Font-Size="Medium" Font-Italic="true" Tooltip="Supprimer la fiche"
                                                                BorderStyle="None" Style="margin-left: 6px; text-align: Right;">
                                                                <Icon PrimaryIconCssClass="rbRemove" PrimaryIconTop="11px"  />
                                                        </telerik:RadButton>
                                                    </asp:TableCell>
                                                </asp:TableRow>
                                            </asp:Table>    
                                        </asp:TableCell>
                                        <asp:TableCell VerticalAlign="Bottom">
                                            <asp:Table ID="CadreCmdOK" runat="server" Visible="false" HorizontalAlign="Right" Style=" margin-right: 3px">
                                                <asp:TableRow>
                                                    <asp:TableCell>
                                                        <telerik:RadButton ID="CommandeOK" runat="server" Text="Valider" 
                                                            BackColor="Gray" BorderColor="#B0E0D7" ForeColor="#000" Skin="Material" EnableEmbeddedSkins="true"
                                                            Font-Bold="False" Font-Names="Calibri" Font-Size="Medium" ToolTip="Enregistrer les changements"
                                                            BorderStyle="None" Style="margin-left: 6px; text-align: Right;">
                                                            <Icon PrimaryIconCssClass="rbOk" PrimaryIconTop="11px"  />
                                                        </telerik:RadButton>                                   
                                                    </asp:TableCell>
                                                </asp:TableRow>
                                            </asp:Table>  
                                        </asp:TableCell>
                                    </asp:TableRow>
                                  </asp:Table>
            </asp:TableCell>
        </asp:TableRow>
    </asp:Table>
            <div class="card-body">                        
                    <form>
                        <div class="row row-space">
                            <div class="col-3">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDate ID="InfoD00" runat="server" TypeCalendrier="Standard"
                                        EtiWidth="120px" DonWidth="100px" DonHeight="25px"
                                         V_SiDonneeDico="true" V_PointdeVue="1" V_Objet="14" V_Information="0" DonTabIndex="1"/>
                                </div>
                             </div>                                                                                
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                        <Virtualia:VDuoEtiquetteCommande ID="Dontab01" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_Information="1" V_SiDonneeDico="true"
                                           DonTabIndex="2" EtiWidth="120px" DonWidth="400px" DonHeight="30px"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                        <Virtualia:VDuoEtiquetteCommande ID="Dontab11" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="11" V_SiDonneeDico="true"
                                           DonTabIndex="2" EtiWidth="120px" DonWidth="400px" DonHeight="30px"/>
                                </div>
                            </div>
                          </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab02" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="2" V_SiDonneeDico="true"
                                       DonTabIndex="3" EtiWidth="120px" DonWidth="100px" DonHeight="30px" DonStyle="text-align: center;"/> 
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH03" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="3" V_SiDonneeDico="true"
                                       EtiWidth="120px" DonWidth="100px" DonHeight="30px" DonBackColor="WhiteSmoke" DonTabIndex="5" DonStyle="text-align:left;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">                            
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH04" runat="server"
                                        V_PointdeVue="1" V_Objet="14" V_Information="4" V_SiDonneeDico="true"
                                         EtiWidth="110px" DonWidth="123px" DonHeight="30px" DonBackColor="WhiteSmoke" DonTabIndex="5" DonStyle="text-align:left;"/> 
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH23" runat="server"
                                        V_PointdeVue="1" V_Objet="14" V_Information="23" V_SiDonneeDico="true"
                                        EtiWidth="120px" DonWidth="100px" DonHeight="30px" DonBackColor="WhiteSmoke" DonTabIndex="5" DonStyle="text-align:left;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">    
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab05" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="5" V_SiDonneeDico="true" 
                                       DonTabIndex="8" EtiWidth="120px" DonWidth="100px" DonHeight="30px" DonStyle="text-align:center;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab13" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="13" V_SiDonneeDico="true"
                                       DonTabIndex="9" EtiWidth="120px" DonWidth="101px" DonHeight="30px" DonStyle="text-align:center;"/>
                                </div>
                            </div>    
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab12" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="12" V_SiDonneeDico="true"
                                       DonTabIndex="10" EtiWidth="104px" DonWidth="100px" DonHeight="30px" DonStyle="text-align:center;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">            
                            <div class="col-3">
                                <div class="input-group">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab06" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="6" V_SiDonneeDico="true"
                                       DonTabIndex="11" EtiWidth="120px" DonWidth="400px" DonHeight="30px"/>
                                </div>
                            </div>     
                            <div class="col-3">
                                <div class="input-group">
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab07" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="7" V_SiDonneeDico="true"
                                       DonTabIndex="12" EtiWidth="250px" DonWidth="270px"/> 
                                </div>
                            </div>                                           
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VReliquatAnciennete ID="Reliquat08" runat="server" DonBackColor="WhiteSmoke"
                                       V_PointdeVue="1" V_Objet="14" V_Information="8" V_SiDonneeDico="true"
                                       EtiWidth="160px"/>
                                </div>
                            </div>
                            </div>
                      <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <telerik:RadLabel ID="EtiArrete" runat="server" Text="Date et référence de l'arrété" 
                                        Font-Names="Calibri" Font-Size="25px" Font-Underline="true" style="margin-left:120px; text-align:center">
                                    </telerik:RadLabel>
                                </div>
                            </div>                                                            
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDate ID="InfoD09" runat="server" TypeCalendrier="Standard" EtiVisible="false"
                                        V_SiDonneeDico="true" V_PointdeVue="1" V_Objet="14" V_Information="9" DonTabIndex="13" DonTooltip="Date de l'arrété"/>
                                </div>
                            </div>
                            <div class="col-2" style="margin-left:30px;">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH10" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="10" V_SiDonneeDico="true" DonBackColor="WhiteSmoke" DonTooltip="Référence de l'arrété"
                                       DonWidth="200px" DonTabIndex="14"  EtiVisible="false" DonStyle="margin-left:2px"/> 
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <telerik:RadLabel ID="EtiDecret" runat="server" Text="Date et référence de parution au JO du décret"
                                       Font-Names="Calibri" Font-Size="25px" Font-Underline="true" style="margin-left:50px; text-align:center">
                                     </telerik:RadLabel> 
                                </div>
                            </div>                                                            
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDate ID="InfoD21" runat="server" TypeCalendrier="Standard" EtiVisible="false" DonTooltip="Date de parution au JO du décret"
                                        V_SiDonneeDico="true" V_PointdeVue="1" V_Objet="14" V_Information="21" DonTabIndex="15"/>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH22" runat="server" DonBackColor="WhiteSmoke" DonTooltip="Référence de parution au JO du décret"
                                       V_PointdeVue="1" V_Objet="14" V_Information="22" V_SiDonneeDico="true"
                                       DonWidth="200px" DonTabIndex="16"  EtiVisible="false" DonStyle="margin-left:2px"/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">                            
                            <div class="col-2">
                                <div class="input-group">
                                    <asp:Panel ID="CadreExpert" runat="server" BorderStyle="None" BorderWidth="1px"
                                        BorderColor="#B0E0D7" Height="420px" Width="400px" HorizontalAlign="Left"
                                        style="margin-top: 5px;  vertical-align: middle; text-align:center">
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH01" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="581" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="200px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px; margin-top: 5px" DonStyle="margin-top: 9px; text-align: center"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH02" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="586" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="200px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH03" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="579" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="200px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH04" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="770" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="200px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH05" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="582" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="200px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH06" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="859" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="120px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH07" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="858" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="120px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH08" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="678" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="120px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH09" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="555" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="120px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH10" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="557" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="120px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                        <Virtualia:VCoupleEtiquetteExperte ID="ExprH11" runat="server"
                                           V_PointdeVue="1" V_Objet="14" V_InfoExperte="556" V_SiDonneeDico="true"
                                           EtiHeight="40px" EtiWidth="280px" DonWidth="120px" DonHeight="40px"
                                           EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                                     </asp:Panel>        
                                </div>
                            </div>                                                            
                        </div>                        
                    </form>
                </div>
            </asp:Panel>

 <%--<asp:Table ID="CadreControle" runat="server" Height="30px" Width="600px" CellPadding="0" CellSpacing="0" HorizontalAlign="Center">
   <asp:TableRow> 
     <asp:TableCell> 
       <Virtualia:VListeGrid ID="ListeGrille" runat="server" CadreWidth="600px" SiColonneSelect="true"
                                        SiCaseAcocher="false"/>
     </asp:TableCell>
   </asp:TableRow>
   <asp:TableRow>
     <asp:TableCell>
       <asp:Table ID="CadreInfo" runat="server" BorderStyle="Ridge" BorderWidth="2px"
        BorderColor="#B0E0D7" Height="520px" Width="600px" HorizontalAlign="Center" style="margin-top: 3px;">
        <asp:TableRow>
          <asp:TableCell>
            <asp:Table ID="CadreCommandes" runat="server" Height="22px" CellPadding="0" CellSpacing="0"
                Width="244px" HorizontalAlign="Right" style="margin-top: 3px;margin-right: 3px">
                <asp:TableRow>
                    <asp:TableCell VerticalAlign="Bottom">
                        <asp:Table ID="CadreCmdNewSupp" runat="server" BackImageUrl="~/Images/Boutons/NewSupp_Std.bmp" 
                            Width="160px" CellPadding="0" CellSpacing="0"
                            BorderWidth="2px" BorderStyle="Outset" BorderColor="#B0E0D7" ForeColor="#D7FAF3">
                            <asp:TableRow>
                                <asp:TableCell>
                                    <asp:Button ID="CommandeNew" runat="server" Text="Nouveau" Width="68px" Height="20px"
                                        BackColor="Transparent" BorderColor="#B0E0D7" ForeColor="#D7FAF3"
                                        Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true"
                                        BorderStyle="None" style=" margin-left: 10px; text-align: right;"
                                        Tooltip="Nouvelle fiche">
                                    </asp:Button>
                                </asp:TableCell>
                                <asp:TableCell>
                                    <asp:Button ID="CommandeSupp" runat="server" Text="Supprimer" Width="68px" Height="20px"
                                        BackColor="Transparent" BorderColor="#B0E0D7" ForeColor="#D7FAF3"
                                        Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true"
                                        BorderStyle="None" style=" margin-left: 10px; text-align: right;"
                                        Tooltip="Supprimer la fiche">
                                    </asp:Button>
                                </asp:TableCell>
                            </asp:TableRow>
                        </asp:Table>    
                    </asp:TableCell>
                    <asp:TableCell VerticalAlign="Bottom">
                        <asp:Table ID="CadreCmdOK" runat="server" BackImageUrl="~/Images/Boutons/OK_Std.bmp" Width="70px"
                            BorderWidth="2px" BorderStyle="Outset" BorderColor="#B0E0D7" ForeColor="#D7FAF3"
                            CellPadding="0" CellSpacing="0" Visible="false">
                            <asp:TableRow>
                                <asp:TableCell>
                                    <asp:Button ID="CommandeOK" runat="server" Text="Valider" Width="65px" Height="20px"
                                        BackColor="Transparent" BorderColor="#B0E0D7" ForeColor="#D7FAF3" 
                                        Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true"
                                        BorderStyle="None" style=" margin-left: 6px; text-align: right;">
                                        </asp:Button>
                                </asp:TableCell>
                            </asp:TableRow>
                        </asp:Table>  
                    </asp:TableCell>
                </asp:TableRow>
              </asp:Table>
          </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
          <asp:TableCell>
              <asp:Table ID="CadreTitre" runat="server" Height="40px" CellPadding="0" Width="600px" 
                CellSpacing="0" HorizontalAlign="Center">
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Center">
                        <asp:Label ID="Etiquette" runat="server" Text="Grade" Height="20px" Width="300px"
                            BackColor="#2FA49B" BorderColor="#B0E0D7" BorderStyle="Groove"
                            BorderWidth="2px" ForeColor="#D7FAF3"
                            Font-Bold="True" Font-Names="Trebuchet MS" Font-Size="Small"
                            style="margin-top: 5px; margin-left: 4px; margin-bottom: 10px;
                            font-style: oblique; text-indent: 5px; text-align: center;">
                        </asp:Label>          
                    </asp:TableCell>      
                </asp:TableRow>
              </asp:Table>
          </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
          <asp:TableCell>
              <asp:Table ID="CadreDon" runat="server" CellPadding="0" CellSpacing="0" Width="550px">
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VCoupleEtiDate ID="InfoD00" runat="server" TypeCalendrier="Standard"
                                        V_SiDonneeDico="true" V_PointdeVue="1" V_Objet="14" V_Information="0" DonTabIndex="1"/>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab01" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="1" V_SiDonneeDico="true"
                           DonTabIndex="2" EtiWidth="100px" DonWidth="450px"/>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab02" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="2" V_SiDonneeDico="true"
                           DonTabIndex="3" EtiWidth="100px" DonWidth="100px" DonStyle="text-align:center;"/>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab11" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="11" V_SiDonneeDico="true"
                           DonTabIndex="4" EtiWidth="100px" DonWidth="450px"/> 
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <asp:Table ID="CadreIndices" runat="server">
                            <asp:TableRow>
                                <asp:TableCell>
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH03" runat="server"
                                       V_PointdeVue="1" V_Objet="14" V_Information="3" V_SiDonneeDico="true"
                                       EtiWidth="100px" DonWidth="60px" DonTabIndex="5" DonStyle="text-align:center;"/>
                                </asp:TableCell>
                                <asp:TableCell>
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH04" runat="server"
                                        V_PointdeVue="1" V_Objet="14" V_Information="4" V_SiDonneeDico="true"
                                        EtiWidth="100px" DonWidth="60px" DonTabIndex="6" DonStyle="text-align:center;"/>
                                </asp:TableCell>
                                <asp:TableCell>
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH23" runat="server"
                                        V_PointdeVue="1" V_Objet="14" V_Information="23" V_SiDonneeDico="true"
                                        EtiWidth="90px" DonWidth="60px" DonTabIndex="7" DonStyle="text-align:center;"/>
                                </asp:TableCell>
                            </asp:TableRow>
                        </asp:Table>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab05" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="5" V_SiDonneeDico="true"
                           DonTabIndex="8" EtiWidth="100px" DonWidth="60px" DonStyle="text-align:center;"/>
                    </asp:TableCell>
                    <asp:TableCell HorizontalAlign="Right" ColumnSpan="2">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab13" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="13" V_SiDonneeDico="true"
                           DonTabIndex="9" EtiWidth="90px" DonWidth="100px"/>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab12" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="12" V_SiDonneeDico="true"
                           DonTabIndex="10" EtiWidth="100px" DonWidth="450px"/> 
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab06" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="6" V_SiDonneeDico="true"
                           DonTabIndex="11" EtiWidth="100px" DonWidth="450px"/> 
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VDuoEtiquetteCommande ID="Dontab07" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="7" V_SiDonneeDico="true"
                           DonTabIndex="12" EtiWidth="250px" DonWidth="300px"/> 
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Left" ColumnSpan="2">
                        <Virtualia:VReliquatAnciennete ID="Reliquat08" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="8" V_SiDonneeDico="true"
                           EtiWidth="250px"/>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell Height="10px" ColumnSpan="2"></asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Center" ColumnSpan="2">
                        <asp:Label ID="EtiArrete" runat="server" Height="20px" Width="370px"
                           Text="Date et référence de l'arrété"
                           BackColor="#B0E0D7" BorderColor="#B0E0D7"  BorderStyle="Outset"
                           BorderWidth="2px" ForeColor="#142425" Font-Italic="true"
                           Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small">
                        </asp:Label>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Right">
                        <Virtualia:VCoupleEtiDate ID="InfoD09" runat="server" TypeCalendrier="Standard" EtiVisible="false"
                                        V_SiDonneeDico="true" V_PointdeVue="1" V_Objet="14" V_Information="9" DonTabIndex="13"/>
                    </asp:TableCell>
                    <asp:TableCell HorizontalAlign="Left">
                        <Virtualia:VCoupleEtiDonnee ID="InfoH10" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="10" V_SiDonneeDico="true"
                           DonWidth="200px" DonTabIndex="14"  EtiVisible="false" DonStyle="margin-left:2px"/>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Center" ColumnSpan="2">
                        <asp:Label ID="EtiDecret" runat="server" Height="20px" Width="370px" Text="Date et référence de parution au JO du décret"
                           BackColor="#B0E0D7" BorderColor="#B0E0D7"  BorderStyle="Outset" BorderWidth="2px" ForeColor="#142425" Font-Italic="true"
                           Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small">
                        </asp:Label>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell HorizontalAlign="Right">
                        <Virtualia:VCoupleEtiDate ID="InfoD21" runat="server" TypeCalendrier="Standard"
                                        V_SiDonneeDico="true" V_PointdeVue="1" V_Objet="14" V_Information="21" DonTabIndex="15"/>
                    </asp:TableCell>
                    <asp:TableCell HorizontalAlign="Left">
                        <Virtualia:VCoupleEtiDonnee ID="InfoH22" runat="server"
                           V_PointdeVue="1" V_Objet="14" V_Information="22" V_SiDonneeDico="true"
                           DonWidth="200px" DonTabIndex="16"  EtiVisible="false" DonStyle="margin-left:2px"/>
                    </asp:TableCell>
                </asp:TableRow>
                <asp:TableRow>
                    <asp:TableCell Height="12px" Columnspan="2"></asp:TableCell>
                </asp:TableRow>
            </asp:Table>
          </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
          <asp:TableCell>
             <asp:Panel ID="CadreExpert" runat="server" BorderStyle="None" BorderWidth="1px"
                BorderColor="#B0E0D7" Height="350px" Width="600px" HorizontalAlign="Left"
                style="margin-top: 5px;  vertical-align: middle; text-align:center">
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH01" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="581" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px"
                   EtiStyle="margin-left: 50px; margin-top: 5px" DonStyle="margin-top: 9px; text-align: center"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH02" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="586" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH03" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="579" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH04" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="770" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH05" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="582" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="200px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH06" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="859" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH07" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="858" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH08" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="678" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH09" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="555" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH10" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="557" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
                <Virtualia:VCoupleEtiquetteExperte ID="ExprH11" runat="server"
                   V_PointdeVue="1" V_Objet="14" V_InfoExperte="556" V_SiDonneeDico="true"
                   EtiHeight="20px" EtiWidth="250px" DonWidth="120px" DonHeight="20px"
                   EtiStyle="margin-left: 50px;" DonStyle="text-align: center;"/>
             </asp:Panel>
          </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
          <asp:TableCell Height="8px"></asp:TableCell>
        </asp:TableRow>       
       </asp:Table>
     </asp:TableCell>
   </asp:TableRow>
 </asp:Table>--%>