﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="Virtualia.Net.Controles_VCocheSimple" Codebehind="VCocheSimple.ascx.vb" %>

<link href="../../VCocheSimple_Style.css" rel="stylesheet" />
<script>
    $("input[type=checkbox]").addClass("myClass");
</script>
<asp:Table ID="CadreCoche" runat="server" >
    <asp:TableRow>
         <asp:TableCell>
             <Telerik:radCheckbox runat="server" ID="CaseACocher" Text="" TextAlign="Left" Visible="true" AutoPostBack="false" Skin="Material" ForeColor="Black" EnableEmbeddedSkins="true"
                 style="color:#000000;"/>
                   

<%--             <asp:CheckBox ID="CaseACocher" runat="server" Text="" Visible="true" AutoPostBack="false"
                  BackColor="#B0E0D7" BorderColor="#B0E0D7" BorderStyle="Outset" BorderWidth="2px"
                  ForeColor="#142425" Height="20px" Width="200px" Checked="false"
                  Font-Bold="false" Font-Names="Trebuchet MS" Font-Size="Small"
                  style="margin-top: 0px; margin-left: 10px; font-style: oblique;
                  text-indent: 5px; text-align: left" />--%>
         </asp:TableCell>
    </asp:TableRow>
</asp:Table>
   

   