.k-edit-label {
  margin: 0 0 1em 0;
  padding: calc( 8px + 1px) 0;
  width: 30%;
  line-height: 1.42857143;
  text-align: right;
  float: left;
  clear: both; }

.k-edit-field {
  margin: 0 0 1em 0;
  width: 65%;
  float: right;
  clear: right; }
  .k-edit-field.k-no-editor {
    padding: calc( 8px + 1px) 0; }

.k-edit-field > .k-widget,
.k-edit-field > .k-textbox,
.k-edit-field > .k-input.k-textbox {
  width: 100%;
  box-sizing: border-box; }

.k-edit-field > .k-colorpicker {
  width: auto; }

.k-edit-field input[type="radio"]:not(.k-radio),
.k-edit-field input[type="checkbox"]:not(.k-checkbox) {
  margin-right: .4ex; }

.k-edit-field .k-radio-label,
.k-edit-field .k-checkbox-label {
  margin-right: 1em; }

.k-edit-field > .k-reset > li + li {
  margin-top: 0.5em; }

.k-edit-field .k-reset .k-widget {
  margin: 0 .4ex 0 1ex; }

.k-popup-edit-form > .k-action-buttons,
.k-edit-form-container .k-action-buttons {
  margin: 1em -16px -16px; }
