.k-dropdown {
  width: 200px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  border-width: 0;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  outline: 0; }
  .k-dropdown .k-dropdown-wrap {
    border-radius: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    transition: all .1s ease;
    cursor: pointer;
    outline: 0; }
    .k-dropdown .k-dropdown-wrap .k-input {
      padding: 4px 6px;
      width: 100%;
      height: calc( 8px + 1.42857143em);
      box-sizing: border-box;
      border: 0;
      outline: 0;
      color: inherit;
      background: none;
      font: inherit;
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis; }
    .k-dropdown .k-dropdown-wrap .k-select {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding: 0;
      width: calc( 8px + 1.42857143em);
      border-width: 0;
      box-sizing: border-box;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      text-align: center;
      cursor: pointer; }
    .k-dropdown .k-dropdown-wrap .k-clear-value {
      height: 20px;
      line-height: 20px;
      outline: 0;
      cursor: pointer;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      opacity: .5;
      position: absolute;
      top: 8px;
      right: calc( calc( 1.42857143em + 16px) + 0 + 4px); }
      .k-dropdown .k-dropdown-wrap .k-clear-value:hover {
        opacity: 1; }
    .k-dropdown .k-dropdown-wrap.k-state-focused .k-clear-value, .k-dropdown .k-dropdown-wrap.k-state-hover .k-clear-value, .k-dropdown .k-dropdown-wrap:hover .k-clear-value {
      display: inline-flex; }
  .k-dropdown.k-dropdown-operator {
    width: auto; }
    .k-dropdown.k-dropdown-operator .k-dropdown-wrap .k-input {
      display: none; }
    .k-dropdown.k-dropdown-operator .k-dropdown-wrap .k-select {
      width: button-inner-size();
      height: button-inner-size(); }
  .k-dropdown[dir="rtl"],
  .k-rtl .k-dropdown {
    text-align: right; }
    .k-dropdown[dir="rtl"] .k-select,
    .k-rtl .k-dropdown .k-select {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .k-dropdown[dir="rtl"] .k-dropdown-wrap .k-clear-value,
    .k-rtl .k-dropdown .k-dropdown-wrap .k-clear-value {
      right: auto;
      left: calc( calc( 1.42857143em + 16px) + 0 + 4px); }
  .k-dropdown ::-ms-clear {
    display: none; }

.k-edge .k-dropdown-wrap > .k-input {
  min-width: 0; }
