.k-tooltip {
  font-size: 14px;
  line-height: 1.42857143;
  padding: 4px 8px;
  border-width: 0;
  box-sizing: border-box;
  background-repeat: repeat-x;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 12000; }

.k-tooltip-title {
  display: inline-flex;
  padding: 4px 0;
  font-size: 16px; }

.k-tooltip-content {
  overflow: hidden;
  text-overflow: ellipsis; }

.k-tooltip-closable {
  padding: 8px 8px;
  line-height: normal; }
  .k-tooltip-closable .k-tooltip-title {
    display: inline-flex;
    padding: 0 calc( 16px + 4px) 8px 0;
    line-height: 1; }
  .k-tooltip-closable .k-tooltip-content {
    padding-right: calc( 16px + 4px); }

.k-rtl .k-tooltip-title,
.k-rtl .k-tooltip-content,
[dir="rtl"] .k-tooltip-title,
[dir="rtl"] .k-tooltip-content {
  padding-right: 0;
  padding-left: calc( 16px + 4px); }

.k-rtl .k-tooltip-button,
[dir="rtl"] .k-tooltip-button {
  left: 8px;
  right: auto; }

.k-tooltip-button {
  position: absolute;
  top: 8px;
  right: 8px; }
  .k-tooltip-button .k-icon {
    color: inherit;
    vertical-align: top; }
  .k-rtl .k-tooltip-button,
  [dir-rtl] .k-tooltip-button {
    left: 8px;
    right: auto; }

.k-callout {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  pointer-events: none; }

.k-callout-n {
  left: 50%;
  margin-left: -6px;
  border-bottom-color: currentColor;
  top: -12px;
  pointer-events: none; }

.k-callout-e {
  top: 50%;
  margin-top: -6px;
  border-left-color: currentColor;
  right: -12px;
  pointer-events: none; }

.k-callout-s {
  left: 50%;
  margin-left: -6px;
  border-top-color: currentColor;
  bottom: -12px;
  pointer-events: none; }

.k-callout-w {
  top: 50%;
  margin-top: -6px;
  border-right-color: currentColor;
  left: -12px;
  pointer-events: none; }
