.k-button[disabled], .k-button[disabled]:focus, .k-button[disabled].k-state-focused,
[disabled] .k-button,
[disabled] .k-button:focus,
[disabled] .k-button.k-state-focused, .k-button.k-state-disabled, .k-button.k-state-disabled:focus, .k-button.k-state-disabled.k-state-focused {
  outline: none;
  cursor: default;
  opacity: .6;
  filter: grayscale(0.1);
  pointer-events: none; }

.k-button {
  padding: 4px 8px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  line-height: 1.42857143;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: relative; }
  .k-button::-moz-focus-inner {
    padding: 0;
    border: 0;
    outline: 0; }
  .k-button:hover, .k-button:focus {
    text-decoration: none;
    outline: 0; }
  .k-button .k-icon,
  .k-button .k-image,
  .k-button .k-sprite {
    color: inherit;
    align-self: center;
    position: relative; }
  .k-button-icontext {
    overflow: visible; }
    .k-button-icontext .k-icon,
    .k-button-icontext .k-image,
    .k-button-icontext .k-sprite {
      margin: 0 4px 0 -4px; }
    .k-rtl .k-button-icontext .k-icon,
    .k-rtl .k-button-icontext .k-image,
    .k-rtl .k-button-icontext .k-sprite, .k-button-icontext[dir="rtl"] .k-icon,
    .k-button-icontext[dir="rtl"] .k-image,
    .k-button-icontext[dir="rtl"] .k-sprite {
      margin: 0 -4px 0 4px; }
  .k-button-icon {
    width: calc( 2px + 8px + 1.42857143em);
    height: calc( 2px + 8px + 1.42857143em);
    padding: 4px; }
    .k-button-icon .k-text {
      display: none; }

.k-dropdown-button.k-state-focused, .k-dropdown-button:focus {
  outline: 0; }

.k-dropdown-button.k-widget {
  border-radius: 2px;
  border-width: 0;
  display: inline-block; }

.k-button-group {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: inherit;
  background-color: transparent;
  list-style: none;
  outline: 0;
  white-space: nowrap;
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  position: relative; }
  .k-button-group .k-button {
    border-radius: 0; }
  .k-button-group .k-button ~ .k-button {
    margin-left: -1px; }
  .k-button-group .k-button:hover,
  .k-button-group .k-button.k-state-hover,
  .k-button-group .k-button:active,
  .k-button-group .k-button.k-state-active {
    z-index: 2; }
  .k-button-group [disabled],
  .k-button-group .k-state-disabled {
    pointer-events: none; }
  .k-button-group .k-group-start,
  .k-button-group .k-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .k-button-group .k-group-end,
  .k-button-group .k-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
  .k-button-group > input[type="radio"],
  .k-button-group > input[type="checkbox"],
  .k-button-group label input[type="radio"],
  .k-button-group label input[type="checkbox"] {
    margin: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    pointer-events: none; }

.k-button-group-stretched {
  display: flex; }
  .k-button-group-stretched .k-button {
    display: inline-block;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis; }
    .k-button-group-stretched .k-button > .k-icon {
      vertical-align: text-bottom; }

.k-split-button:focus,
.k-split-button.k-state-focused {
  outline: none; }

.k-split-button.k-widget {
  border-radius: 2px;
  border-width: 0; }

.k-split-button.k-button-group .k-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.k-split-button.k-button-group .k-button:nth-child(2) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.k-button-flat, .k-button.k-flat,
.k-button.k-bare {
  border-color: transparent !important;
  color: inherit;
  background: none !important;
  box-shadow: none !important;
  transition: color .2s ease-in-out; }
  .k-button-flat:hover, .k-button.k-flat:hover,
  .k-button.k-bare:hover, .k-button-flat.k-state-hover, .k-state-hover.k-button.k-flat,
  .k-state-hover.k-button.k-bare, .k-button-flat:active, .k-button.k-flat:active,
  .k-button.k-bare:active, .k-button-flat.k-state-active, .k-state-active.k-button.k-flat,
  .k-state-active.k-button.k-bare, .k-button-flat:hover:active, .k-button.k-flat:hover:active,
  .k-button.k-bare:hover:active, .k-button-flat:hover.k-state-active, .k-button.k-flat:hover.k-state-active,
  .k-button.k-bare:hover.k-state-active {
    color: inherit; }
  .k-button-flat::before, .k-button.k-flat::before,
  .k-button.k-bare::before {
    display: block; }

.k-button.k-outline {
  color: inherit;
  background: none;
  box-shadow: none; }

.k-rtl .k-button-group .k-button ~ .k-button {
  margin-right: -1px;
  margin-left: 0; }

.k-rtl .k-button-group .k-button {
  border-radius: 0; }

.k-rtl .k-button-group .k-group-start,
.k-rtl .k-button-group .k-button:first-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.k-rtl .k-button-group .k-group-end,
.k-rtl .k-button-group .k-button:last-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.k-rtl .k-split-button .k-button {
  border-radius: 0 2px 2px 0; }

.k-rtl .k-split-button .k-split-button-arrow {
  border-radius: 2px 0 0 2px;
  margin-left: 0;
  margin-right: -1px; }

.k-button-overlay, .k-button::before {
  border-radius: inherit;
  content: "";
  background: currentColor;
  opacity: 0;
  display: none;
  pointer-events: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 0;
  transition: opacity .2s ease-in-out; }

.k-button:hover::before, .k-button.k-state-hover::before {
  opacity: 0.08; }

.k-button.k-no-focus:not(:hover)::before, .k-button.k-no-focus:not(.k-state-hover)::before {
  opacity: 0; }

.k-button:active::before, .k-button.k-state-active::before {
  opacity: 0.16; }

.k-button.k-state-selected::before {
  opacity: 0.2; }

.k-button::after {
  content: "";
  opacity: 0;
  display: none;
  pointer-events: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 0;
  transition: opacity .2s ease-in-out; }

.k-action-buttons {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: inherit;
  display: flex;
  flex-direction: row;
  clear: both; }
  .k-action-buttons .k-button,
  .k-action-buttons .k-button.k-primary {
    border-radius: 0;
    padding: 12px 16px;
    border-width: 0;
    border-color: inherit;
    color: inherit;
    background: none;
    flex: 1 1 auto; }
  .k-action-buttons .k-button + .k-button {
    border-left-width: 1px; }
  .k-rtl .k-action-buttons .k-button + .k-button,
  [dir="rtl"] .k-action-buttons .k-button + .k-button {
    border-left-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    margin-left: 0; }

.k-popup > .k-action-buttons,
.k-popup > kendo-grid-columnlist > .k-action-buttons {
  margin-top: 1em;
  margin-bottom: 0; }

.k-combobox {
  width: 200px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  border-width: 0;
  display: inline-flex;
  vertical-align: middle;
  position: relative; }
  .k-combobox .k-dropdown-wrap {
    border-radius: 0;
    padding: 0;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: all .1s ease;
    outline: 0;
    cursor: initial; }
    .k-combobox .k-dropdown-wrap .k-input {
      padding: 4px 6px;
      width: 100%;
      height: calc( 8px + 1.42857143em);
      box-sizing: border-box;
      border: 0;
      outline: 0;
      color: inherit;
      background: none;
      font: inherit;
      flex: 0 1 auto;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis; }
      .k-edge .k-combobox .k-dropdown-wrap .k-input {
        min-width: 0; }
    .k-combobox .k-dropdown-wrap ::-ms-clear {
      display: none; }
    .k-combobox .k-dropdown-wrap .k-clear-value {
      height: 20px;
      line-height: 20px;
      outline: 0;
      cursor: pointer;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      opacity: .5;
      position: absolute;
      top: 8px;
      right: calc( calc( 1.42857143em + 16px) + 0 + 4px); }
      .k-combobox .k-dropdown-wrap .k-clear-value:hover {
        opacity: 1; }
    .k-combobox .k-dropdown-wrap:hover .k-clear-value, .k-combobox .k-dropdown-wrap.k-state-hover .k-clear-value, .k-combobox .k-dropdown-wrap.k-state-focused .k-clear-value {
      display: inline-flex; }
    .k-combobox .k-dropdown-wrap .k-select {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding: 0 0;
      width: calc( 8px + 1.42857143em);
      border-width: 0 0 0 0;
      box-sizing: border-box;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      text-align: center;
      cursor: pointer; }
  .k-combobox.k-combobox-clearable .k-input {
    padding-right: calc( 16px + 8px); }
  .k-combobox[dir="rtl"],
  .k-rtl .k-combobox {
    text-align: right; }
    .k-combobox[dir="rtl"] .k-select,
    .k-rtl .k-combobox .k-select {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .k-combobox[dir="rtl"] .k-clear-value,
    .k-rtl .k-combobox .k-clear-value {
      right: auto;
      left: calc( calc( 1.42857143em + 16px) + 0 + 4px); }
    .k-combobox[dir="rtl"].k-combobox-clearable .k-input,
    .k-rtl .k-combobox.k-combobox-clearable .k-input {
      padding-left: calc( 16px + 8px);
      padding-right: 4px; }
  .k-combobox ::-ms-clear {
    display: none; }

.k-upload-button {
  position: relative;
  overflow: hidden;
  direction: ltr; }
  .k-upload-button input {
    font: 170px monospace !important;
    margin: 0;
    padding: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  .k-upload-button input[disabled],
  .k-upload-button input.k-state-disabled {
    visibility: hidden; }
