.RadInput_test, .RadInputMgr_test {
    font-family: "Roboto","Noto",sans-serif
}

.RadInput {
    border-color: transparent;
    border-bottom-color: #E0E0E0
}

.t-ie .RadInput_test, .t-ie .RadInputMgr_test {
    height: 36px;
    height: calc(1.4285714286em + 16px)
}

.RadInput_test .riTextBox, .RadInputMgr_test {
    color: #424242;
    background: rgba(0,0,0,0);
    border-color: transparent;
    border-bottom-color: #E0E0E0;
    outline: none
}

.RadInput_test {
    border-bottom-color: #E0E0E0;
    padding: 0 13px
}

    .RadInput_test input.riTextBox {
        padding: 8px 0 7px;
        border-width: 0 0 1px
    }

.RadInputMgr_test {
    padding: 8px 0 7px;
    border-width: 0 0 1px;
    margin: 0 8px;
    color: #424242
}

.RadInput_test .riLabel {
    font-size: .857em;
    color: #757575;
    font-weight: 500;
    margin-left: -13px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px
}

.RadInput_test a {
    padding-left: 8px;
    padding-right: 8px
}

.RadInput_test .riSelect {
    right: 5px
}

    .RadInput_test .riSelect a {
        color: #757575;
        border-color: transparent
    }

        .RadInput_test .riSelect a:hover {
            color: #212121
        }

        .RadInput_test .riSelect a:before {
            font-family: "Material Icons";
            font-size: 18px
        }

.RadInput_test.RadInputDisabled a:hover, .RadInput_test.RadInputDisabled a:active {
    color: #757575
}

.RadInput_test .riDown:before {
    content: "\e5c5";
    margin-top: -13px
}

.RadInput_test .riUp:before {
    content: "\e5c7";
    margin-top: -6px
}

.RadInput_test .riButton:before {
    content: "\e5d9"
}

.RadInput_test .riEmpty, .RadInput_Empty_test {
    color: rgba(66,66,66,0.6);
    font-style: normal
}

.RadInput_test .riHover, .RadInput_Hover_test {
    color: #424242;
    border-bottom-color: #BDBDBD
}

.RadInput_test .riFocused, .RadInput_Focused_test {
    color: #424242;
    border-bottom-color: #3F51B5;
    box-shadow: 0 -1px 0 0px #3F51B5 inset
}

.RadInput_test .riRead, .RadInput_Read_test {
    color: rgba(66,66,66,0.8)
}

.RadInput_test .riDisabled, .RadInput_Disabled_test {
    color: #babbbc;
    border-bottom-color: #eee
}

.RadInput_test .riError, .RadInput_Error_test {
    border-color: #f34235;
    box-shadow: 0 -1px 0 0px #f34235 inset
}

.RadInput_test.RadInputError {
    border-color: #f34235;
    color: #f34235
}

.RadInput_test.RadInputError {
    border-color: #f34235;
    color: #f34235
}

    .RadInput_test.RadInputError:after {
        display: none
    }

.RadInput.riContButton .riDown {
    margin-left: -37px;
    margin-left: calc(-17px - 1.42857em)
}
